<div class="Edit-profile-wrap">

    <ion-header-bar class="bar bar-header bar-dark">
        <div>
            <button class="button no-animation button-icon icon ion-ios-arrow-thin-left" ui-sref="profileTwo">
            </button>

            <div class=" title profile-title ">Edit profile</div>

            <button class="button no-animation button-icon icon ion-ios-checkmark-empty">
            </button>
        </div>
    </ion-header-bar>
    <section class="Edit-section">
        <div class="Edit-info">
            <div class="row Edit-row">
                <div class="col-40"><span class=' icon ion-man'></span></div>
                <div class="col-80"><em>upload a profile photo</em><i class="icon ion-ios-camera"></i></div>

            </div>
        </div>
        <div class="Edit-list">
            <ul class="list">

                <li class="item item-toggle">
                    EMAIL
                    <input type="text" placeholder="905820466@qq.com" class="Edit-float">
                </li>

                <li class="item item-toggle">
                    REMEBER ME
                    <input type="text" placeholder="First Name" class="Edit-float">
                </li>
                <li class="item item-toggle">
                    PASSSSWORD
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-toggle">
                    NAME
                    <input type="text" placeholder="Dongmei Wang" class="Edit-float">
                </li>
                <li class="item item-toggle">
                    TITLE
                    <input type="text" placeholder="Web Designer" class="Edit-float">
                </li>
                <li class="item item-toggle">
                    LOCATION
                    <input type="text" placeholder="Paris,France" class="Edit-float">
                </li>
                <li class="item item-toggle">
                    FACEBOOK
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>

                </li>
                <li class="item item-toggle">
                    TWITTER

                    <label class="toggle toggle-assertive">
                        <input type="checkbox">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>




            </ul>

        </div>
    </section>

</div>