<div class="info-wrap">
    <div class="info-title">
    <h3>AVITAL</h3>
    <h4>mobile UI Kit</h4>
    </div>


    <div class="info-list">
            <input type="email" placeholder="E-mail">
            <input type="password" placeholder="Password">

    </div>
    <div class="info-button">
        <button class="button button-block  home-button" ui-sref="profile">
            LOGIN NOW →
        </button>
    </div>
    <div class="info-button info-button-two">
        <button class="button " ui-sref="">
          f  Facebook
        </button>
        <button class="button " ui-sref="">
          G  Google
        </button>
    </div>
   <footer class="info-footer">
    <button class="button button-clear button-positive" ui-sref="register">
        Don't have an account?
    </button>
   </footer>

</div>