<div class="posts-wrap">
    <ion-header-bar class="bar bar-header bar-dark">
        <div>
            <button class="button no-animation button-icon icon ion-ios-arrow-thin-left" ui-sref="profile">
            </button>

            <div class=" title profile-title ">Social</div>

            <button class="button no-animation button-icon icon ion-ios-more">
            </button>
        </div>
    </ion-header-bar>
    <section class="posts-section">
        <div class="tabs-striped tabs-color-light  has-tabs-top tabs-background-dark ">
            <div class="tabs tabs-top">
                <a class="tab-item active">
                    ALL
                </a>
                <a class="tab-item">
                    PEOPLE
                </a>
                <a class="tab-item">
                    PHOTOS
                </a>
                <a class="tab-item" ui-sref="videos">
                    VIDEOS
                </a>
            </div>
        </div>
        <div class="posts-list">
            <div class="posts-title row">
                <div class="col-30"><span><img src="./img/images/Social_banner_8_03.jpg" alt=""/></span></div>
                <div class="col-90"><p><b>YAROSSLAV ZAITSSEV</b></p>

                    <p>5875 images, 1420 videos</p></div>
            </div>
            <div class="row">
                <div class="col-30"><img src="./img/images/Social_05.jpg" alt=""/></div>
                <div class="col-30"><img src="./img/images/Social_11.jpg" alt=""/></div>
                <div class="col-30"><img src="./img/images/Social_07.jpg" alt=""/></div>
            </div>
            <div class="posts-title row">
                <div class="col-30"><span><img src="./img/images/Social_banner_8_05.jpg" alt=""/></span></div>
                <div class="col-90"><p><b>YAROSSLAV ZAITSSEV</b></p>

                    <p>5875 images, 1420 videos</p></div>
            </div>
            <div class="row">
                <div class="col-30"><img src="./img/images/Social_16.jpg" alt=""/></div>
                <div class="col-30"><img src="./img/images/Social_07.jpg" alt=""/></div>
                <div class="col-30"><img src="./img/images/Social_11.jpg" alt=""/></div>
            </div>
            <div class="posts-title row">
                <div class="col-30"><span><img src="./img/images/Social_banner_8_18.jpg" alt=""/></span></div>
                <div class="col-90"><p><b>YAROSSLAV ZAITSSEV</b></p>
                    <p>5875 images, 1420 videos</p></div>
            </div>
            <div class="row">
                <div class="col-30"><img src="./img/images/Social_05.jpg" alt=""/></div>
                <div class="col-30"><img src="./img/images/Social_16.jpg" alt=""/></div>
                <div class="col-30"><img src="./img/images/Social_11.jpg" alt=""/></div>
            </div>
        </div>

    </section>
</div>