<div class="profile-wrap">

    <ion-header-bar  class="profile-header">
        <div  >
            <button class="button no-animation button-icon icon ion-ios-arrow-thin-left" >
            </button>

            <div class=" title profile-title " >profile</div>

            <button class="button no-animation button-icon icon ion-ios-more" >
            </button>
        </div>
    </ion-header-bar>
    <section class="profile-section">
        <h4>Edvard Korus</h4>
        <p>Artist Web Designer, Paris</p>
        <div class="profile-list">
            <div class="row">
                <div class="col"><b>2560</b><br/><span>LIKES</span></div>
                <div class="col"><b>4025</b><br/><span>FOLLOWERS</span></div>
                <div class="col"><b>1278</b><br/><span>FOLLOWING</span></div>
            </div>

        </div>
        <a class="button icon-right ion-plus button-calm button-block">FOLLOW</a>

    </section>
    <div class="profile-footer">
        <div class="tabs">
            <a class="tab-item " ui-sref="posts">
                Posts
            </a>
            <a class="tab-item" ui-sref="profileTwo">
                Photos
            </a>
            <a class="tab-item"ui-sref="social">
                Message
            </a>
        </div>
    </div>
</div>