<div class="profileTwo-wrap">

    <ion-header-bar  class="profile-header">
        <div  >
            <button class="button no-animation button-icon icon ion-ios-arrow-thin-left" ui-sref="profile">
            </button>

            <div class=" title profile-title " >profile</div>

            <button class="button no-animation button-icon icon ion-ios-more" >
            </button>
        </div>
    </ion-header-bar>
    <section class="profileTwo-section">
        <div class="profileTwo-list">
            <div class="row profileTwo-row">
                <div class="col"><b>158K</b><br/><span>FOLLOWERS</span></div>
                <div class="col" ui-sref="Edit-profile"><span class="profileTwo-span"><img src="./img/p2-Profile_03.jpg" alt=""/></span></div>
                <div class="col"><b>25K</b><br/><span>FOLLOWING</span></div>
            </div>
        </div>
        <h4>John Fredson</h4>
        <h5>Writter</h5>
        <a class="button icon-right ion-plus button-calm button-block">FOLLOW</a>
        <div class="row profileTwo-imglist">
            <div class="col"><img src="./img/b2-Profile_02.jpg" alt=""/></div>
            <div class="col"><img src="./img/images/b2-Profile_03.jpg" alt=""/></div>
        </div>
        <div class="row profileTwo-imglist">
            <div class="col"><img src="./img/images/b2-Profile_05.jpg" alt=""/></div>
            <div class="col"><img src="./img/images/b2-Profile_07.jpg" alt=""/></div>
        </div>
        <div class="row profileTwo-imglist">
            <div class="col"><img src="./img/images/b2-Profile_05.jpg" alt=""/></div>
            <div class="col"><img src="./img/b2-Profile_02.jpg" alt=""/></div>
        </div>
    </section>

</div>