<div class="info-wrap">
    <div class="info-title">
        <h3>register</h3>

    </div>


    <div class="info-list">
        <input type="email" placeholder="E-mail">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">

    </div>
    <div class="info-button">
        <button class="button button-block  button-positive home-button" ui-sref="info">
            REGISTER →
        </button>
    </div>

    <footer class="info-footer">
        <button class="button button-clear button-positive" ui-sref="register">
            By clicking register. I agree to your Terms
        </button>
    </footer>

</div>