<div class="social-wrap">
    <ion-header-bar class="bar bar-header bar-dark" >
        <div  >
            <button class="button no-animation button-icon icon ion-ios-arrow-thin-left" ui-sref="profile">
            </button>

            <div class=" title profile-title " >Social</div>

            <button class="button no-animation button-icon icon ion-ios-more" >
            </button>
        </div>
    </ion-header-bar>
    <div class="social-input">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Erick Adwos">

        </label>

    </div>
    <div class="row social-row">
        <div class="col"><span ><img src="./img/images/Social_banner_8_03.jpg" alt=""/></span><br/><b>Maria</b></div>
        <div class="col"><span ><img src="./img/images/Social_banner_8_05.jpg" alt=""/></span><br/><b>Adam</b></div>
        <div class="col"><span ><img src="./img/images/Social_banner_8_07.jpg" alt=""/></span><br/><b>Karry</b></div>
    </div>
    <div class="row social-row">
        <div class="col"><span ><img src="./img/images/Social_banner_8_13.jpg" alt=""/></span><br/><b>Yaroslav</b></div>
        <div class="col"><span ><img src="./img/images/Social_banner_8_14.jpg" alt=""/></span><br/><b>Alisa</b></div>
        <div class="col"><span ><img src="./img/images/Social_banner_8_18.jpg" alt=""/></span><br/><b>Kristian</b></div>
    </div>
    <div class="row social-row">
        <div class="col"><span ><img src="./img/images/Social_banner_8_19.jpg" alt=""/></span><br/><b>Tony</b></div>
        <div class="col"><span ><img src="./img/images/Social_banner_8_20.jpg" alt=""/></span><br/><b>Erick</b></div>
        <div class="col"><span ><img src="./img/images/Social_banner_8_03.jpg" alt=""/></span><br/><b>Madalena</b></div>
    </div>
</div>

